#center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

.bg {
  background-image:url(../images/bg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-color {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #000000, #434343);
  background: -o-linear-gradient(right, #000000, #434343);
  background: linear-gradient(to left, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #addeff);
  background-image: -moz-linear-gradient(top, #3498db, #addeff);
  background-image: -ms-linear-gradient(top, #3498db, #addeff);
  background-image: -o-linear-gradient(top, #3498db, #addeff);
  background-image: linear-gradient(to bottom, #3498db, #addeff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 3px #666666;
  -moz-box-shadow: 0px 3px 3px #666666;
  box-shadow: 0px 3px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 36px;
  padding: 7px 30px 10px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

h1 {
  color: white;
  text-align: center;
}